.disc {
    border: rgba(0, 0, 0, 0.3) 2px solid;
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);

    text-align: center;
    margin: 10px 0 10px 0;
  }
  
  .disc h1 {
    padding: 5px 0 0 0;
  }

  .disc img {
    width: 70%;
    height: auto;
  }
  
  .disc p {
     /* border: var(--primary) 2px solid; */
     text-align: left;
     /* width: 85%; */
     font-size: large;
     margin: 5px 0px 5px 10px;
   }

  .flight-number-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: var(--accent) 2px solid; */
  }
  
  